
.title {
    text-align: center;
    text-transform: uppercase;
 }

 .text {
     text-align: center;
     line-height: 2rem;
     word-wrap: break-word;
     padding: 5px;
  }
 .code {
     background:lightgray;
     padding: 5px;
     border-radius: 5px;
     font-weight: bold;
 }

.listContainer {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding: 0;
}

.listItemContainer {
    display: flex;
    background: #dbe4ff;
    padding:0;
    border-left: 10px solid transparent;
    flex-wrap:wrap;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:20px;
    box-shadow: 5px 5px 30px lightgray;
    margin: 15px;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    transition: border-left 1s ease-in-out;
}

.listItemContainer> *{
    margin:0 10px;
}

.listItemContainer:hover {
    border-left: 10px solid #0b7285;
}