.container {
    display: flex;
    flex-direction: row;
}

.container > * {
    margin: 5px;
}

.button {
    border-radius: 50%;
    border: 0;
    background-color: aquamarine;
    cursor: pointer;
    width: 20px;
}