.container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 900px;
    width:90%;
    margin: auto;
}

.item {
    margin: 20px;
    box-shadow: 2px 2px 20px #dee2e6;
    padding: 20px;
    text-align: center;
    flex: 1 1 400px;
    border-radius: 8px;
    background: #edf2ff;
    border: 1px solid #364fc7
}
 