.container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 900px;
    width:90%;
    margin: auto;
}

.item {
    margin: 10px;
    box-shadow: 5px 5px 20px grey;
    padding: 20px;
    text-align: center;
    flex: 1 1 200px;
    border-radius: 8px;
}