.container {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 900px;
    background: #5f3dc4;
    border: 1px solid grey;
    border-radius: 6px;
    box-shadow: 5px 5px 20px #3f5f5f;
    padding:50px;
    color: white;
    text-align:center;
}